/ISXEQ2 Scripting Guide/Claude AI Commands (optional)/_CopyFilesFromLocalToHere.bat
/ISXEVE Scripting Guide/Claude AI Commands (optional)/_CopyFilesFromLocalToHere.bat
/ISXEQ2 Scripting Guide/Claude AI Commands (optional)/_CopyFilesFromHereToLocal.bat
/ISXEVE Scripting Guide/Claude AI Commands (optional)/_CopyFilesFromHereToLocal.bat
